[Unit]
Description=pihole
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/bin/pihole.sh
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
